.container {
  display: flex;
  flex-direction: column;
}

.photos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

.title {
  text-align: center;
  font-size: 3em;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(219, 37, 31);
  text-shadow: 0 1px 2px rgba(black, 0.15);
}

video {
  margin-top: 10px;
}
